.container,
.row {
  width: 100%;
  padding: 0;
  margin: 0;
  max-width: unset;
  line-height: 0;
}
.col {
  padding: 0;
}
iframe {
  width: 100%;
}

iframe.chat{
  height: 70vh;
}
iframe.player{
  height: 30vh;
}